@model FKS.Site.Models.EquipmentView
@using FKS.Site.Helper.MVCHtmlExtend

@{
    Layout = "~/Views/Shared/_AjaxForm.cshtml";
}

@using (Ajax.BeginForm(new AjaxOptions
{
    OnSuccess = ViewBag.Success,
    OnFailure = ViewBag.Failure
}))
{
    @Html.HiddenFor(model => model.CollectionCode)
    <div class="bs-example">
        <h1 class="title">删除用户</h1>
        <div class="form-horizontal pd10">
            @Html.FormItem(model => model.EquipCode, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.NickName, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.Address, new { @class = "easyui-textbox", style = "width:300px" })

            <div id="allmap" class="baidumap"></div>
        </div>

        <div class="hidden">
            @Html.FormItem(model => model.CollectionCode)
            @Html.FormItem(model => model.UserName)
            @Html.FormItem(model => model.YHX)
            @Html.FormItem(model => model.YHY)
            @Html.FormItem(model => model.PropertyInfo)
            @Html.FormItem(model => model.PositionInfo)
            @Html.FormItem(model => model.Jurisdiction)
            @Html.FormItem(model => model.EquipCount)
            @Html.FormItem(model => model.Interval)
            @Html.FormItem(model => model.TimeOut)
            @Html.FormItem(model => model.Status)
            @Html.FormItem(model => model.FanType)
            @Html.FormItem(model => model.FanAirFlow)
            @Html.FormItem(model => model.FanPower)
            @Html.FormItem(model => model.PurifierAirFlow)
            @Html.FormItem(model => model.Contacts)
            @Html.FormItem(model => model.ContactInfo)
            @Html.FormItem(model => model.Installer)
            @Html.FormItem(model => model.Content)
        </div>
    </div>
}
