@model FKS.Site.Models.EquipmentView
@using FKS.Site.Helper.MVCHtmlExtend

@{
    Layout = "~/Views/Shared/_AjaxForm.cshtml";
}

@using (Ajax.BeginForm(new AjaxOptions
{
    OnSuccess = ViewBag.Success,
    OnFailure = ViewBag.Failure
}))
{
    <div class="bs-example">
        <h1 class="title">更新用户</h1>
        <div class="form-horizontal pd10">
            @Html.FormItem(model => model.EquipCode, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.UserName, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.PropertyInfo, new { @class = "easyui-combobox", style = "width:300px" })
            @Html.FormItem(model => model.PositionInfo, new { @class = "easyui-combobox", style = "width:300px" })
            @Html.FormItem(model => model.NickName, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.Address, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.EquipCount, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.Interval, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.TimeOut, new { @class = "easyui-combobox", style = "width:300px" })
            @Html.FormItem(model => model.Status, new { @class = "easyui-combobox", style = "width:300px" })
            @Html.FormItem(model => model.FanAirFlow, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.FanPower, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.PurifierAirFlow, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.Contacts, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.ContactInfo, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.ContractNo, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.ContractStartTime, new { @class = "easyui-datebox", style = "width:300px" })
            @Html.FormItem(model => model.Installer, new { @class = "easyui-textbox", style = "width:300px" })
            @Html.FormItem(model => model.Content, new { @class = "easyui-textbox", style = "width:300px" })
            <div id="allmap" class="baidumap"></div>
        </div>

        <div class="hidden">
            @Html.FormItem(model => model.CollectionCode)
            @Html.FormItem(model => model.YHX)
            @Html.FormItem(model => model.YHY)
        </div>
    </div>
}

